<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIvxUX5SkM4Ac-ESCa9TcGtGJdp-mXgv8</string>
	<key>GCM_SENDER_ID</key>
	<string>157694944011</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vext</string>
	<key>PROJECT_ID</key>
	<string>vext-vigilantmesh-57551</string>
	<key>STORAGE_BUCKET</key>
	<string>vext-vigilantmesh-57551.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157694944011:ios:eeae629d275f70cf2e780e</string>
</dict>
</plist>